*{
    padding: 0px;
    margin: 0px;
    outline: none;
}
.swiper{
    width: 100%;
    height: 600px;
}
.swiper-wrap{
    width: 100%;
    height: 600px;
}
.swiper-slide{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.home-main-title{
    font-size: 2.5rem;
    line-height: 1.3;
    padding-top: 250px;
}
h1{
    font-weight: 700;
}
.text-m{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

/* slide01*/
.swiper-slide .slide01{
    width: 100%;
    height: 600px;
}
.slide01{
    background-color: #fbf7f3;
}
.home-main-slide-img-01{
    margin-top: 25px;
    background-color: red;
    width: 500px;
    height: 550px;
}

.slide01 .home-main-title{
    margin-left: 100px;
    margin-right: 350px;
}

.slide01 .text-m{
    margin-right: 350px;
    margin-left: 100px;
}


/*slide02*/
.swiper-slide .slide02{
    width: 100%;
    height: 600px;
}
.slide02{
    display: none;
    background-color: #ffffff;
}
.home-main-slide-img-02{
    background-color: blue;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 200px;
    width: 500px;
    height: 550px;
}

.slide02 .home-main-title{
    font-size: 2.5rem;
    line-height: 1.3;
    padding-top: 250px;
}
.slide02 .text-m{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
}


/* slide03*/

.swiper-slide .slide03{
    width: 100%;
    height: 600px;
}
.slide03{
    display: none;
    background-color: #e4f3e5;
}
.home-main-slide-img-03{
    background-color: green;
    margin-top: 25px;
    width: 500px;
    height: 550px;
}

.slide03 .home-main-title{
    display: block;
    font-size: 2.5rem;
    line-height: 1.3;
    padding-top: 200px;
}

.slide03 .text-m{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
}
.slide03 .home-main-title{
    margin-left: 100px;
    margin-right: 20px;
}
.slide03 .text-m{
    margin-right: 20px;
    margin-left: 100px;
}


.slide03 ul{
    list-style: none;
}
.slide03 ul li{
    height: 50px;
    margin: 1.6rem;
}
.slide03 li{
    display: list-item;
}

.home-story-list .home-story-list-item{
    height: 50px;
    margin-right: 4rem;
    max-width: 14rem;
    margin-left: 0px;
}
.home-story-list .icon-story{
    width: 56px;
    height: 56px;
    background-color: green;
    background-size: 56px 56px;
}
.home-story-list{
    list-style-type: none;
}
.slide03 ul{
    display: flex;
    margin-inline-start: 100px;
}

/* slide4*/
.swiper-slide .slide04{
    width: 100%;
    height: 600px;
}
.slide04{
    display: none;
    background-color: #ffffff;
}
.home-main-slide-img-04{
    margin-top: 25px;
    background-color: yellow;
    margin-left: 100px;
    margin-right: 200px;
    width: 500px;
    height: 550px;
}
.slide04 .home-main-title{
    font-size: 2.5rem;
    line-height: 1.3;
    padding-top: 250px;
}

.slide04 .text-m{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
}